body {color: #000;}

@import 'fonts';

@import "tailwindcss/base";
@import "tailwindcss/components";

body {
    @apply bg-black font-body text-[20px] sm:text-[21px] md:text-[23px] lg:text-[24px];
}



#app-loader {
    @apply fixed inset-0 bg-black z-20 flex items-center justify-center select-none;
}
#app-loader > svg {animation: rotate 2s linear infinite;}
#app.ready #app-loader {display: none;}
#app.ready #app-loader > svg {animation: none;}


#topnav {
    @apply fixed top-0 inset-x-0 pt-[45px] px-[30px] flex justify-between items-center z-30 select-none;
    opacity: 0; transition: opacity 0.3s cubic-bezier(.4, 0, .2, 1);
}
#app.ready #topnav {opacity: 1;}
#video-loader {opacity: 0; transition: opacity 0.3s cubic-bezier(.4, 0, .2, 1);}
#video-loader.active {opacity: 1;}

#map-marker {
    background: url('/images/map-pin.png') no-repeat center center;
    background-size: contain;
    @apply w-[78px] h-[78px] z-10;
}

#cookies-info {
    @apply fixed flex inset-x-0 px-[30px] z-50 opacity-0 bottom-[30px] lg:bottom-[92px] pointer-events-none justify-center text-white text-[16px];
}
#cookies-info.active {
    opacity: 100% !important; pointer-events: auto !important;
}
#cookies-info > .container {
    @apply w-full max-w-[1280px] border border-[#e0e0e066] rounded-[4px] bg-black;
}

.very-hidden {display: none !important;}

*[data-video-container] {
    @apply opacity-0;
}
*[data-video-container].active {
    @apply opacity-100;
}


.nav-link {
    @apply font-semibold text-[15px] opacity-40 hover:opacity-80 active:opacity-100 transition-opacity duration-300 text-white;
}
#topnav.loading .nav-link {
    opacity: 40% !important;
}
.nav-button {
    @apply py-[10px] px-[18px] bg-[#cfcfcf2b] hover:bg-[#e0e0e066] focus:bg-[#e0e0e066] active:bg-[#e0e0e033] uppercase text-[12px] sm:text-[13px] md:text-[14px] lg:text-[15px] text-white rounded-[38px] font-semibold transition-all duration-300;
}

.icon-link {
    @apply hover:opacity-80 focus:opacity-80 active:opacity-100 transition-opacity duration-300;
}

.content-button {
    @apply inline-block w-full sm:w-auto font-medium text-[18px] sm:text-[18px] md:text-[18px] lg:text-[18px] py-[10px] px-[15px] bg-[#cfcfcf2b] hover:bg-[#e0e0e066] focus:bg-[#e0e0e066] active:bg-[#e0e0e033] transition-colors duration-300;
}
.content-form {
    @apply font-medium text-[22px] relative;
}
.content-form input {
    @apply border-0 placeholder-white focus:outline-none px-[12px] py-[10px] w-full bg-[#cfcfcf2b] hover:bg-[#e0e0e066] focus:bg-white active:bg-white focus:text-black active:text-black transition-colors duration-300;
}
.content-form button[type="submit"] {
    @apply absolute top-1/2 -translate-y-1/2 right-[12px];
}
.content-form button[type="submit"] > svg {
    @apply text-white rounded-[2px] w-[18px] h-[18px] opacity-40 transition-all duration-300;
}
.content-form input:focus + button[type="submit"] > svg {
    @apply text-black;
}

.footer-link {
    @apply opacity-50 hover:opacity-80 focus:opacity-80 active:opacity-100 transition-opacity duration-300;
}
.footer-section-link {
    @apply w-1/2 h-[330px] p-[22px] bg-cover bg-center relative flex flex-col justify-end;
}

.h1 {
    @apply font-semibold text-[30px] sm:text-[36px] md:text-[42px] lg:text-[48px];
}
.h2 {
    @apply font-semibold text-[26px] sm:text-[32px] md:text-[36px] lg:text-[40px];
}
.h3 {
    @apply font-semibold text-[22px] sm:text-[23px] md:text-[23px] lg:text-[24px];
}


*[data-navigation-item].active,
*[data-navigation-item].active + *[data-navigation-dots] {
    opacity: 100% !important;
}

#reserve-form {overflow-y: auto;}

#topnav.loading *[data-navigation-item] {
    @apply cursor-wait;
}
.content-form input.error {outline: 1px solid #9f2121;}
.content-form input.success {outline: 1px solid #0dd148;}
.fp-section.active .splide__arrow {
    @apply pointer-events-auto;
}
.splide__track {padding-right: 0 !important; padding-left: 0 !important; margin-right: 0rem !important; margin-left: 0rem !important;}
.splide__arrow--prev {left: -1rem !important;}
.splide__arrow--next {right: -1rem !important;}
#fullpage>section {min-height: auto !important;}

#reserve-form:not(.active) {
    @apply opacity-0 pointer-events-none;
}
#reserve-form-thanks:not(.active) {
    @apply opacity-0 pointer-events-none;
}

.video-controlls {
    @apply fixed bottom-[42px] inset-x-0 px-[27px] z-30 flex justify-end items-center transition-opacity duration-300 opacity-0 pointer-events-none;
}
.video-controlls.active {
    opacity: 100% !important;
    pointer-events: auto !important;
}
.video-controlls > a {
    @apply mx-[3px] w-[32px] h-[32px] flex items-center justify-center cursor-pointer opacity-50 hover:opacity-100 transition-opacity duration-300;
}
.video-controlls.active > a {
    @apply pointer-events-auto;
}
.video-controlls > a > svg {
    @apply text-white;
}
.video-controlls > a[data-video-playback-controll="play"] > svg.icon-pause,
.video-controlls > a[data-video-playback-controll="pause"] > svg.icon-play,
.video-controlls > a[data-video-sound-controll="on"] > svg.icon-sound-off,
.video-controlls > a[data-video-sound-controll="off"] > svg.icon-sound-on {
    @apply hidden;
}

.fp-section video {
    min-width: 100% !important; height: 100%; max-width: inherit !important;
}

*[data-slide-colors] {
    @apply fixed bottom-[42px] inset-x-0 px-[28px] z-30 flex justify-center pointer-events-none items-center transition-opacity duration-300 opacity-0;
}
.fp-section.active *[data-slide-colors] {
    
}
*[data-slide-colors] > a {
    @apply mx-[6px] border border-transparent rounded-full cursor-pointer flex items-center justify-center w-[28px] h-[28px] sm:w-[36px] md:w-[30px] lg:w-[24px] sm:h-[36px] md:h-[30px] lg:h-[24px];
}
*[data-slide-colors] > a.active {
    border-color: white !important;
}
*[data-slide-colors] > a > div {
    @apply rounded-full w-[16px] h-[16px] sm:w-[18px] md:w-[16px] lg:w-[14px] sm:h-[18px] md:h-[16px] lg:h-[14px];
}

*[data-slider-dots] {
    @apply fixed bottom-[42px] inset-x-0 px-[28px] z-30 flex transition-opacity duration-300 opacity-0;
}
*[data-slider-dots] > *[data-slider-dot] {
    @apply flex-grow flex-shrink mx-[2px] bg-[#ffffff4d];
}
*[data-slider-dots] > *[data-slider-dot] > div {
    @apply transition-all ease-linear duration-1000 bg-[#ffffff80] h-[2px] w-0;
}
*[data-slider-dots] > *[data-slider-dot].fast > div {
    transition-duration: 0s !important;
}
*[data-slider-dots] > *[data-slider-dot] > div.ready {
    width: 100% !important;
}

video.yoba-half-h {
    @apply h-1/2 pt-[125px] px-[30px];
}


#fullpage-loader {
    @apply fixed inset-0 bg-black z-20 transition-opacity duration-300 pointer-events-none opacity-0;
}
#app.loading #fullpage-loader {opacity: 100%; pointer-events: auto;}

#fullpage {
    @apply relative flex flex-col z-10;
}
#fullpage > section {
    @apply relative;
    min-height: 100vh !important;
}
#fullpage > section.video-player > div {
    @apply absolute inset-0 flex items-center justify-center overflow-hidden z-20 pointer-events-none;
}
*[data-video-element] {
    @apply fixed inset-x-0 px-[30px] z-20;
}
*[data-video-element-bg] {
    @apply fixed inset-x-0 px-[30px] z-10 opacity-0;
}
.fp-section.active *[data-video-element-bg].active {
    @apply opacity-100;
}
*[data-video-element].element-bottom {
    @apply bottom-[92px];
}
.fp-section:not(.with-bottom-indicator) *[data-video-element].element-bottom {
    @apply bottom-[30px] lg:bottom-[92px];
}
*[data-video-element].element-center {
    @apply top-1/2 -translate-y-1/2;
}
*[data-video-element].element-top {
    @apply top-[130px];
}
*[data-slide-type] {
    @apply bg-cover bg-center absolute inset-0 opacity-0 transition-opacity duration-300;
}
*[data-slide-type].active {
    opacity: 100% !important;
}
*[data-slide-element] {
    @apply fixed inset-x-0 px-[30px] z-20;
}

*[data-slider-colors] > a {
    @apply mx-[6px] border border-transparent rounded-full cursor-pointer flex items-center justify-center w-[24px] h-[24px];
}
*[data-slider-colors] > a.active {
    border-color: white !important;
}
*[data-slider-colors] > a > div {
    @apply rounded-full w-[14px] h-[14px];
}

*[data-prevent-autoplay].active {
    @apply pointer-events-auto;
}

.text-hotfix {font-size: 20px;font-weight: 300;}

*[data-prevent-autoplay][data-video-element="part-arrow"].active,
*[data-prevent-autoplay][data-video-element="part-parted-arrow"].active {
    @apply pointer-events-none;
}
*[data-prevent-autoplay][data-video-element="part-arrow"].active > a,
*[data-prevent-autoplay][data-video-element="part-parted-arrow"].active > a {
    @apply pointer-events-auto;
}

.fp-section.with-parted-video *[data-video-arrows] {
    @apply absolute inset-0 block lg:hidden z-10;
}
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow] {
    @apply absolute top-1/2 pointer-events-auto;
}
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow="left"] {
    @apply left-[38px];
}
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow="right"] {
    @apply right-[38px];
}
div[data-video-element="part-arrow"].active a {cursor: pointer;}
div[data-video-element="part-parted-arrow"].active a {cursor: pointer;}


.animate-bounce-left	{animation: bounce-left 2s infinite;}

@keyframes bounce-left {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-bounce-right	{animation: bounce-right 2s infinite;}

  @keyframes bounce-right {
      0%, 100% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
      }
      50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      }
    }


.splide__arrow,
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow] {background-color: transparent !important; margin-top: -9px; opacity: 100% !important; width: 18px !important; height: 32px !important; cursor: pointer;}
.splide__arrow svg {display: none;}

.splide__arrow--prev,
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow="left"] {background: url('/images/arrow-left.png') no-repeat center center !important; animation: bounce-left 2s infinite;}
.splide__arrow--next,
.fp-section.with-parted-video *[data-video-arrows] *[data-video-arrow="right"] {background: url('/images/arrow-right.png') no-repeat center center !important; animation: bounce-right 2s infinite;}

.splide__arrow--prev {left: 8px !important;}
.splide__arrow--next {right: 8px !important;}


a[data-spoiler-button] {
    @apply cursor-pointer inline-block mb-[10px]
}
a[data-spoiler-button] > svg {
    @apply w-[24px] h-[24px] hidden ml-[3px] text-white
}
*[data-spoiler] {
    @apply relative;
}
*[data-spoiler]:not(.spoiler-active) a[data-spoiler-button] > svg:first-child {
    display: inline !important;
}
*[data-spoiler].active a[data-spoiler-button] > svg:last-child {
    display: inline !important;
}
*[data-spoiler-text] {
    @apply absolute top-full -left-6 -mt-[10px] w-full max-w-[460px] transition-opacity duration-300 shadow-lg bg-gray-800/80 py-4 px-6 rounded-lg;
}
*[data-spoiler-text]:before {
    @apply w-0 h-0 border-gray-800/80 border-b-8 absolute left-8 bottom-full; 
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
*[data-spoiler]:not(.spoiler-active) *[data-spoiler-text] {
    @apply opacity-0 pointer-events-none;
}

*[data-spoiler].spoiler-active a[data-spoiler-button] + div {
    @apply hidden;
}

*[data-video-parts] {
    @apply fixed bottom-[42px] inset-x-0 px-[28px] z-30 flex transition-opacity duration-300 opacity-0 pointer-events-none;
}
.fp-section.active *[data-video-parts] {
    @apply pointer-events-auto cursor-pointer;
}
*[data-video-parts] > *[data-video-part] {
    @apply flex-grow flex-shrink mx-[2px] relative py-[4px];
}
*[data-video-parts] > *[data-video-part]:before {
    content: "";
    @apply block absolute top-1/2 -mt-[1px] w-full h-[2px] bg-[#ffffff4d] z-0;
}  
#app.parted-video-player-in-progress .fp-section.active *[data-video-parts] {
    @apply cursor-wait;
}
#app.parted-video-player-in-progress .fp-section.active *[data-video-parts] > *[data-video-part] {
    @apply pointer-events-none;
}
*[data-video-parts] > *[data-video-part] > div {
    @apply transition-all ease-linear duration-100 bg-[#ffffff80] h-[2px] w-0;
}
*[data-video-parts] > *[data-video-part].ready > div {
    width: 100%;
}
*[data-video-parts] > *[data-video-part]:before {
    @apply transition-colors ease-linear duration-300;
}
*[data-video-parts] > *[data-video-part]:hover > div {
    @apply bg-white;
}

#mobile-menu:not(.active) {
    @apply opacity-0 pointer-events-none;
}
#mobile-menu.active {
    @apply lg:opacity-0 lg:pointer-events-none;
}
*[data-navigation-mobile-item] {
    @apply text-white;
}



.w-content {
    @apply w-full max-w-[920px];
}
.w-content-half {
    @apply w-full max-w-full md:max-w-[690px];
}


.pin-container {
    @apply text-white flex flex-col;
}
.pin-container > .dot {
    @apply w-[3px] h-[3px] rounded-full bg-white hidden md:block;
}
.pin-container > .line {
    @apply w-[1px] bg-white ml-[1px] flex-shrink flex-grow hidden md:block;
}
.pin-container > .text {
    @apply relative py-[15px];
    font-size: 20px; font-weight: 300;
}



#no-landscape {
    opacity: 0; pointer-events: none;
  }
  @media screen and (orientation:landscape) and (max-width: 768px) {
    #no-landscape {opacity: 100; pointer-events: auto;}
  }

#reserve-action-form input {color: white}
#reserve-action-form input:focus {color: black}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 36px;
    height: 36px;
}
    
.spinner > .path {
    stroke: rgba(255, 255, 255, .6);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}
 
  
@keyframes rotate {
100% {
    transform: rotate(360deg);
}
}

@keyframes dash {
0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
}
}

#product-3-specification-wrapper,
#product-page-specification-wrapper,
#about-us-wrapper {
    @apply pointer-events-none;
}
.fp-section.active #about-us-wrapper {
    @apply pointer-events-auto;
}
@media (max-width:767px) and (max-height:899px) {
    video.yoba-half-h {height: 0px !important; padding-right: 0 !important; padding-left: 0 !important; padding-top: 0 !important;}
  #about-us *[data-video-element="part-2"] {top: 110px !important;}
  }
@media (max-width:767px){
    video.yoba-half-h {height: 0px !important; padding-right: 0 !important; padding-left: 0 !important; padding-top: 0 !important;}
    #about-us *[data-video-element="part-2"] {top: 110px !important;}
    .like-pin,
    *[data-video-element^="pin"] {
        right: 0 !important; left: 0 !important; padding-right: 30px; padding-left: 30px; top: auto !important; bottom: 30px !important;
    }
    *[data-slide-element] {position: fixed !important; opacity: 0 !important; pointer-events: none !important; right: 0 !important; left: 0 !important; padding-right: 30px; padding-left: 30px; top: auto !important; bottom: 92px !important;}
    .fp-section.active .fp-slide.active *[data-slide-type].active *[data-slide-element] {opacity: 1 !important; pointer-events: auto !important;}
    .like-pin,
    .pin-container > .text {max-width: 100% !important; width: 100% !important; text-align: center;}
    .like-pin > *[data-transform-element] {max-width: 100% !important}

    .fp-section.with-bottom-indicator *[data-video-element].element-bottom,
    .fp-section.with-bottom-indicator *[data-video-element^="pin"] {bottom: 92px !important;}

    *[data-spoiler].spoiler-active a[data-spoiler-button] + div {
        @apply block;
    }
    *[data-spoiler-text] {
        @apply fixed inset-0 mt-0 w-full max-w-full h-full pt-[1.5rem] pb-[1.5rem] bg-gray-800 rounded-none;
        overflow-y: auto;
    }

    #topnav > nav + div {
        @apply opacity-0 pointer-events-none;
    }
    html.user-make-action #topnav > nav + div {
        @apply opacity-100 pointer-events-auto;
    }
    
    *[data-spoiler-text]:before {
        @apply hidden; 
    }
    *[data-spoiler-text] {
        padding-top: 5rem !important;
      }
      *[data-spoiler-text]:after {
        content: "« Back to gallery"; font-weight: bold; position: absolute; top: 1.5rem; left: 1.5rem; cursor: pointer;
      }
    html.hide-ui-md *[data-slide-colors], html.hide-ui-md .fp-controlArrow, html.hide-ui-md #topnav {display: none !important;}
}
@media (max-width:1023px){
    .fp-section.active #product-3-specification-wrapper,
    .fp-section.active #product-page-specification-wrapper {
        pointer-events: auto !important;
    }
}

@media(max-height: 899px) and (min-width: 1024px) {
    #product-3-specification-wrapper {float: none !important;}
  }

@media (max-height:899px){
    #topnav > nav + div {
        @apply opacity-0 pointer-events-none;
    }
    html.user-make-action #topnav > nav + div {
        @apply opacity-100 pointer-events-auto;
    }


    .h\:hidden {display: none !important;}
    #product-3-specification-wrapper {float: left;}
    .fp-section.active #product-3-specification-wrapper,
    .fp-section.active #product-page-specification-wrapper {pointer-events: auto;}
    #product-3-specification-list {flex-wrap: nowrap;}
    #product-3-specification-list > div {padding-right: 30px; padding-left: 30px;}

    .pin-container>.dot {display: none !important;}
    .pin-container>.line {display: none !important;}

    .like-pin,
    *[data-video-element^="pin"] {
        right: 0 !important; left: 0 !important; padding-right: 30px; padding-left: 30px; top: auto !important; bottom: 30px !important;
    }
    *[data-slide-element] {position: fixed !important; opacity: 0 !important; pointer-events: none !important; right: 0 !important; left: 0 !important; padding-right: 30px; padding-left: 30px; top: auto !important; bottom: 92px !important;}
    .fp-section.active .fp-slide.active *[data-slide-type].active *[data-slide-element] {opacity: 1 !important; pointer-events: auto !important;}
    .like-pin,
    .pin-container > .text {max-width: 100% !important; width: 100% !important; text-align: center;}
    .like-pin > *[data-transform-element] {max-width: 100% !important}

    *[data-spoiler].spoiler-active a[data-spoiler-button] + div {
        @apply block;
    }
    *[data-spoiler-text] {
        @apply fixed inset-0 mt-0 w-full max-w-full h-full pt-[1.5rem] pb-[1.5rem] bg-gray-800 rounded-none;
        overflow-y: auto;
    }
    

    .fp-section.with-bottom-indicator *[data-video-element].element-bottom,
    .fp-section.with-bottom-indicator *[data-video-element^="pin"] {bottom: 92px !important;}
    *[data-spoiler-text]:before {
        @apply hidden; 
    }
    *[data-spoiler-text] {
        padding-top: 5rem !important;
      }
      *[data-spoiler-text]:after {
        content: "« Back to gallery"; font-weight: bold; position: absolute; top: 1.5rem; left: 1.5rem; cursor: pointer;
      }
    html.hide-ui-md *[data-slide-colors], html.hide-ui-md .fp-controlArrow, html.hide-ui-md #topnav {display: none !important;}
  }

@import "tailwindcss/utilities";